*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: regular;
}
body::-webkit-scrollbar{
    background-color: black;
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: rgb(102, 102, 215);
    border-radius: 10px;
}
:root{
    --grey-bg-color : rgba(51, 51, 51, 0.743);
    --grey-text-color : rgb(175, 175, 175);
}
@font-face {
    font-family: regular;
    src: url("Roboto-woff2.woff2");
}
a{
    text-decoration: none;
    color: var(--grey-text-color);
}
.badge{
    letter-spacing: 1px;
    color: var(--grey-text-color);
}

/* page 1 starts from here */
.page-1 .navbar{
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.page-1 .navbar i{
    color: white;
    font-size: 2rem;
}
.page-1 .navbar img{
    width: 4rem;
    filter: invert(1);
}
/* page-1 second part */
.page-1 input[type = text]{
    border: none;
    background-color: var(--grey-bg-color);
    padding:0.5rem  1rem ;
    border-radius: 40px;
}
.page-1 input[type = text]::placeholder{
    font-size: 0.8rem;
    color: var(--grey-text-color);
}

.page-1 .image-container{
    height: 23rem;
    overflow: hidden;
}
.page-1 img{
    height: 100%;
    object-fit: cover;
    object-position: center;

}